body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.backdrop-container {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.mobile-nav-open-icon {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem;
    color: black;
    margin-left: 3rem;
}

.sidenav-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #343e48;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidenav-container a {
    text-decoration: none;
    font-size: 1.6em;
    color: #fafafa;
    display: block;
    padding-left: 20px;
    transition: 0.3s;
}

.text-truncate {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidenav-container a:hover {
    color: #eb6644;
}

.sidenav-container .close-btn {
    font-size: 3rem;
    color: #e5eeca;
    padding-right: 1rem;
}

.sidenav-container .drawer-close-button {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3rem;
}

.material-symbols-sharp {
    color: #fafafa;
    transition: 0.3s;
    font-variation-settings: 'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 100
}

.divider {
    width: 100%;
    color: #fafafa;
    opacity: 20%;
}

.nav-button {
    display: inline-flex;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    border: none;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #fafafa;
    transition: 0.3s;
    margin: 10px 0;
}

.content {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.table-container {
    width: 100%;
}

.raw-table {
    border-collapse: collapse;
    width: 100%;
}

.raw-table .orderable {
    background-color: #e5eeca;
}

.raw-table .orderable, a {
    color: #eb6644;
    text-decoration: none;
}

.raw-table .even {
    background-color: #fafafa;
}

.raw-table, td, th {
    padding: 10px;
    text-align: left;
}

.nav-button:hover .material-symbols-sharp {
    color: #eb6644;
}

.nav-button:hover {
    color: #eb6644;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #343e48;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.6em;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #eb6644;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #343e48;
    color: #fafafa;
}

/* Style the tab content */
.tab-content {
    display: none;
    border: none;
}

.chart-title {
    padding-left: 20px;
}

.chart-legend {
    padding-left: 20px;
}