{% extends "home/home.html" %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/home/styles.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
    <div class="tab">
        <button class="tab-links" onclick="openTab(event, 'tables')">Tables</button>
        <button class="tab-links" onclick="openTab(event, 'graphs')">Graphs</button>
    </div>
    <div id="tables" class="tab-content">
        {% for table in tables %}
            {% render_table table %}
        {% endfor %}
    </div>
    <div id="graphs" class="tab-content">
        <script src="../../static/home/chartFunctions.js"></script>
        <script>
            let labels = []
            let data = {}
            let config = {}
        </script>
        {% for chart in charts %}
            <h2 class="chart-title">Sensor Name: {{ chart.sensor }}</h2>
            <div id="{{ chart.sensor }}-container" class="chart-legend"></div>
            <canvas id="{{ chart.sensor }}"></canvas>
            <script>
                labels = {% autoescape off %}
                    {{ chart.timestamp }}
                {% endautoescape %};

                for (let label in labels) {
                    label = new Date(label)
                }

                data = {
                    labels: labels,
                    datasets: [
                        {% for key, value in chart.items %}
                            {% if key != "timestamp" and key != "sensor" %}
                                {
                                    label: '{{ key }}',
                                    backgroundColor: '#eb6644',
                                    borderColor: '#eb6644',
                                    data: {{ value }},
                                },
                            {% endif %}
                        {% endfor %}
                    ]
                };

                config = {
                    type: 'line',
                    data: data,
                    options: {
                        plugins: {
                            htmlLegend: {
                                containerID: '{{ chart.sensor }}-container'
                            },
                            legend: {
                                display: false,
                                labels: {
                                    font: {
                                        family: "'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                                        weight: 300,
                                        lineHeight: 1.5
                                    }
                                }
                            },
                            interaction: {
                                intersect: false,
                                mode: 'index'
                            }
                        }
                    },
                    plugins: [htmlLegendPlugin]
                };

                chart = new Chart(document.getElementById('{{ chart.sensor }}'), config);
            </script>
        {% endfor %}
    </div>
    <script>
        function openTab(event, tabName) {
            let i, tabContent, tabLinks;
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            tabLinks = document.getElementsByClassName("tab-links")
            for (i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active"
        }
    </script>
{% endblock %}
</body>
</html>