{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Project</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "30%";
        document.getElementById("mySidenav").style.minWidth = "200px";
        document.getElementById('backdrop').style.display = "block";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.minWidth = "0";
        document.getElementById('backdrop').style.display = "none"
    }
</script>
<div id="mySidenav" class="sidenav-container">
    <span class="drawer-close-button">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
    </span>
    <span class="text-truncate">
        <a href="{% url 'home' %}" onclick="closeNav()" id="home-link">
            <button class="nav-button">
                <span class="material-symbols-sharp">home</span>
                &nbsp;Home
            </button>
        </a>
    </span>
    <hr class="divider"/>
    <span class="text-truncate">
        <a href="{% url 'data_raw' %}" onclick="closeNav()" id="home-link">
            <button class="nav-button">
                <span class="material-symbols-sharp">table_rows</span>
                &nbsp;Raw Data
            </button>
        </a>
    </span>
    <span class="text-truncate">
        <a href="{% url 'data_graph' %}" onclick="closeNav()" id="about-link">
            <button class="nav-button">
                <span class="material-symbols-sharp">show_chart</span>
                &nbsp;Graphical Data
            </button>
        </a>
    </span>
    <hr class="divider"/>
    {% for group in all_group_ids %}
        <span class="text-truncate">
            <a href="{% url 'group' group %}" onclick="closeNav()" id="about-link">
                <button class="nav-button">&nbsp;{{ group }}</button>
            </a>
        </span>
    {% endfor %}
</div>

<div class="backdrop-container" id="backdrop"></div>

<nav>
    <span onclick="openNav()" class="mobile-nav-open-icon">&#9776;</span>
</nav>
<div id="content" class="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>